*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(241, 241, 241);
}

header{
    background-color: white;
    padding: 20px;
}

.title {
    font-size: 40px;
    font-weight: 700;
}

.center{
    vertical-align: middle;
}

.container{
    padding-top: 40px;
}

.container1{
    margin: 0 auto; 
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 800px;  
    padding: 20px;
}

.container2{
    margin: 2px auto; 
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 800px;  
    padding: 20px;
}

/* Bottoni */

.button-style{
    border-radius: 6px;
    border: none;
    padding: 10px 14px;
}

.button-primary{
    color: aliceblue;
    background-color: #47ADF1;
}

.button-secondary{
    color: rgb(207, 207, 207);
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
}

/* Elementi della lista */

li, ul{
    list-style-type: none;
}

li{
    margin: 8px 8px 28px 8px;
}

.li-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(65, 65, 65);
    margin-bottom: 20px;
}

.li-title::before{
    content: ' \25BE';
    font-size: 30px;
    vertical-align: middle;
}

.li-text{
    font-size: 16px;
    font-weight: 400; 
}

.li-check::before{
    content: ' \2714';
    font-size: 12px;
    margin-right: 10px;
    border: 1px solid rgb(0, 124, 0);
    border-radius: 50%;
    color: rgb(0, 124, 0);
    /* centrare il testo all'interno del cerchio */
    height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

.li-nocheck::before{
    content: ' \2716';
    font-size: 12px;
    margin-right: 10px;
    border: 1px solid rgb(184, 24, 24);
    border-radius: 50%;
    color: rgb(184, 24, 24);
    /* centrare il testo all'interno del cerchio */
    height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;

}

/* Tag evidenziati */

.tag{
    border-radius: 10px;
    padding: 0 8px;
    font-size: 12px;
    color: white;
    line-height: 24px;
    display: inline-block;
}

.tag-blue{
    background-color: #47ADF1;
}

.tag-purple{
    background-color: #9B71E3;
}

.tag-green{
    background-color: #64C0A9;
}

.tag-orange{
    background-color: #F29E33;
}

.tag-pink{
    background-color: #D863A1;
}

.tag-oil{
    background-color: #B0C926;
}